export interface {{pascalCase name}}Props {
  // プロパティをここに定義
}

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return (
    <div>
      <h1>{{pascalCase name}}</h1>
    </div>
  );
};
