interface {{pascalCase name}}Props {
  /**
  * コンポーネントの追加クラス名
  */
  className?: string;
}

export default function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};
